---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-2">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>General</h2>
		<p>Electronic, network admin and hosting, linux distro, IA, microcontrollers, IOT</p>
	</div>
	<div class="stack gap-2 lg:gap-2">
		<Icon icon="bounding-box" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Desingn</h2>
		<p>Electronic components, 3d, Figma, Photoshop </p>
	</div>
	<div class="stack gap-2 lg:gap-2">
		<Icon icon="brackets" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Frontend</h2>
		<p>JavaScript, Astro, React, Bootstrap, Tailwind</p>
	</div>
	<div class="stack gap-2 lg:gap-2">
		<Icon icon="tree-structure" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Backend</h2>
		<p>Nodejs, Express, Mongodb, Git, Docker, Java, Python, C++</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
